.table__cell-image {
    width: 106px;
    justify-self: center;
}

@media screen and (max-width: 1279px) { 
    .table__cell-image {
        width: 8.28125vw;
    } 
}  



@media screen and (max-width: 767px) { 
    .table__cell-image { 
        width: 15vw;
    } 
}  