.table__cell-image {
    width: 106px;
    justify-self: center;
}

@media screen and (max-width: 1279px) { 
    .table__cell-image { 
    } 
}  
@media screen and (max-width: 1023px) { 
    .table__cell-image { 
    } 
}  


@media screen and (max-width: 767px) { 
    .table__cell-image { 
        width: 15vw;
    } 
}  