.form__item {
    border: 1px solid #FFAC00;
    text-align: left;
    text-indent: 20px;
    font-weight: 400;
    font-size: 32px;
    line-height: 127.9%;
    color: #09182B;
    margin: 23px 0 0 0;
    width: 612px;
    height: 76px;
}


@media screen and (max-width: 1279px) { 
    .form__item {
        text-indent: 1.5625vw;
        font-size: 2.5vw;
        margin: 1.796875vw 0 0 0;
        width: 47.8125vw;
        height: 5.9375vw;

    } 
 }  
  
 
 
 @media screen and (max-width: 767px) { 
    .form__item { 
        width: 90vw;
        height: 14.6875vw;
        margin: 5vw 0 0 0;
        font-size: 5vw;
        text-indent: 2.1875vw;
    } 
 
 }  