.table__overflow_number {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    color: rgba(217, 217, 217, 0.2);
    font-size: 300px;
    font-weight: 700;
    text-align: center;
    z-index: 1;
    line-height: 1.167;
}


@media screen and (max-width: 1279px) { 
    .table__overflow_number {
        font-size: 23.4375vw;
    } 
 }  

 
 
 @media screen and (max-width: 767px) { 
    .table__overflow_number { 
        font-size: 18.75vw;
    } 
 
 }  