.webinar-description__image {
    width: 512px;
    margin: 29px 32px 35px 36px;
}



@media screen and (max-width: 1279px) { 
    .webinar-description__image {
        width: 40vw;
        margin: 2.265625vw 2.265625vw 2.265625vw 2.265625vw;
    } 
}  


@media screen and (max-width: 767px) { 
    .webinar-description__image { 
        width: 21.875vw;
        margin: 1.875vw 0 0 0;
    } 
}  