.header {
    margin: 26px 0 0 0;
    width: 1184px;
    background-image: url('../../images/headerpic.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 366px 366px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

@media screen and (max-width: 1279px) { 
    .header { 
    } 
}  
@media screen and (max-width: 1023px) { 
    .header { 
    } 
}  

@media screen and (max-width: 767px) { 
    .header { 
        background-size: 73.125vw 73.125vw;
        width: 100%;
        min-height: 73.125vw;
    } 
}  