.table__cell-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.28;
    color: #FFAC00;
    text-align: center;
    margin: 0;
}

@media screen and (max-width: 1279px) { 
    .table__cell-title {
        font-size: 1.875vw;
    } 
}  



@media screen and (max-width: 767px) { 
    .table__cell-title { 
        font-size: 5vw;
    } 
}  