.header__button-text {
    margin: auto;
    color: #09182B;
    font-size: 36px;
    line-height: 1.28;
    text-align: center;
    font-weight: 700;
    border-radius: 5px;
}

@media screen and (max-width: 1279px) { 
    .header__button-text { 
    } 
}  
@media screen and (max-width: 1023px) { 
    .header__button-text { 
    } 
}  


@media screen and (max-width: 767px) { 
    .header__button-text { 
        font-size: 3.75vw;
    } 
}  