.webinar-description__title {
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 700;
    color:#FFAC00;
    margin: 0;
    align-self: flex-start;
}

@media screen and (max-width: 1279px) { 
    .webinar-description__title { 
        font-size: 3.75vw;
    } 
}  
@media screen and (max-width: 1023px) { 
    .webinar-description__title{ 
    } 
}  


@media screen and (max-width: 767px) { 
    .webinar-description__title { 
        font-size: 5.625vw;
        text-align: center;
        margin: 7vw 0 0 0;
        align-self: center;
    } 
}  