.table {
    display: flex;
    flex-direction: row;
    margin: 74px 20px 74px 20px;
    max-width: 1280px;
    justify-content: space-between;
    padding: 0;
}



@media screen and (max-width: 1279px) { 
    .table {
        margin: 5.78125vw 1.5625vw 5.78125vw 1.5625vw;
    } 
}  
@media screen and (max-width: 1023px) { 
    .table { 
    } 
}  


@media screen and (max-width: 767px) { 
    .table { 
        flex-direction: column;
        margin: 0 auto 6.5625vw auto;
    } 
}  