.webinar-description__paragraph {
    color:#000000;
    font-weight: 400;
    font-size: 24px;
    max-width: 633px;
    text-align: justify;
    line-height: 1.28;
    margin: 33px 0 0 0;
}


@media screen and (max-width: 1279px) { 
    .webinar-description__paragraph {
        margin: 2.578125vw 0 0 0;
        font-size: 1.875vw;
        max-width: 50vw;
    } 
}  


@media screen and (max-width: 767px) { 
    .webinar-description__paragraph { 
        font-size: 4.6875vw;
        text-align: center;
        margin: 7vw 3.75vw 0 3.75vw;
        max-width: 633px;

    } 
}  