.table__cell-paragraph {
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    line-height: 1.28;
    text-align: center;
    margin: 0;
    justify-self: end;
}


@media screen and (max-width: 1279px) { 
    .table__cell-paragraph { 
    } 
}  
@media screen and (max-width: 1023px) { 
    .table__cell-paragraph { 
    } 
}  


@media screen and (max-width: 767px) { 
    .table__cell-paragraph { 
        font-size: 4.375vw;
    } 
}  