.form__send {
    background-color: #FFAC00;
    border: none;
    color: #09182B;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 24px;
    line-height: 127.9%;
    width: 612px;
    height: 116px;
    margin: 25px 0 25px 0;
    cursor: pointer;
    border-radius: 5px;
}


@media screen and (max-width: 767px) { 
    .form__send { 
        width: 93.75vw;
        height: 8.4375vw;
        font-size: 3.125vw;

    } 
 
 }  