.form__image {
    width: 501px;
    margin: 0 0 0 72px;
}
@media screen and (max-width: 1279px) { 
    .form__image {
        width: 39.140625vw;
        margin: 0 0 0 5.625vw;
    } 
 }  

 
 
 @media screen and (max-width: 767px) { 
    .form__image { 
        width: 0;
        margin: 0;
    } 
 
 }  